.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .letter{
    animation: letter_spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes letter_spin {
  0% {
    transform: rotate(0deg);
    color: red;
    font-size: 10px;
  }
  25% {
    transform: rotate(90deg);
    color: blue;
    font-size: 30px;
  }
  50% {
    transform: rotate(180deg);
    color: green;
    font-size: 50px;
  }
  75% {
    transform: rotate(270deg);
    color: orange;
    font-size: 20px;
  }
  100% {
    transform: rotate(360deg);
    color: red;
    font-size: 10px;
  }
}
